#header {
  background-color: #ffb6c1;
}
#nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.name {
  background-color: #d3d3d3;
  padding: 4px;
}
#dataButton {
  padding: 10px;
  margin-top: 15px;
  background-color: #d3d3d3;
}
#welcome {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

img {
  border-radius: 90px;
  height: 150px;
  width: 150px;
}

.rightAlign{
    text-align: right;
}
