.heading2{
  left: 50%;
  top: 50%;
  margin-left: 2%;
  position: absolute;
  margin-top: -17%;
  width: 100%;
  padding: 15px;
  

}
.form{
  
  width: 30%;
  left: 2%;
  padding: 15px;
  
}
.form2{
  
  left: 50%;
  top: 50%;
  margin-left: -12%;
  position: absolute;
  margin-top: -14%;
  width: 30%;
  padding: 15px;
  
}
.app{
  background-color: rgba(187, 94, 32, 0.925);
  width: 50%;
  height: 400px;
}
.heading{
  font-family: sans-serif;
  background-color:rgb(112, 125, 196);
  width: fit-content;
}
.create{
  position: absolute; 
  top: 0;
   right: 2%;
   width: 100px;
     text-align:right;
}
.title{ 
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.author{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.content{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.date{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}
.name{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.designation{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.content2{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.image{
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  padding: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.details{
  text-align: center;
  padding: 25px;
  height: 200px;
  width: 100;
  position: absolute;
  top: 100px;
  left: 1300px;
  background-color: darkgray;
  
}